body {
  font-family: 'Manjari', sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  gap: 0.5rem;
  padding: 0.5rem;
  max-width: 1000px;
}
.kb-name {
  margin: 0;
}
.input {
  color: hsla(0, 0%, 100%, 0.9);
  background: 0 0;
  border: none;
  outline: 0;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  resize: none;
}
.simple-keyboard-preview {
  flex-grow: 1;
  transition: background 0.3s ease-in-out;
  background: #2e2e2e;
  border: 0.8rem solid rgba(0, 0, 0, 0.1);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}
.simple-keyboard.hg-layout-default .hg-button.hg-red {
  background: rgb(255, 0, 0, 0.7);
  color: white;
}
.hg-button {
  position: relative;
  font-family: 'Manjari', sans-serif;
}
span.alt {
  opacity: 0.7;
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  font-size: 0.8rem;
  color: red;
}
#notice {
  display: none;
}
.buttons-set {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.checkbox-set {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.inputfilebox {
  display: none;
}
.simple-keyboard .hg-button:active {
  background: #1c4995;
  color: white;
}
#popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  z-index: 9999; /* Ensure the popup is above other content */
}
#popup-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(16, 19, 122);
  padding: 20px;
  color: white;
  border-radius: 10px;
}

@media screen and (max-width: 945px) {
  .container {
    gap: 0.5rem;
    padding: 0.1rem;
    max-width: 1000px;
  }
  .hg-button {
    position: relative;
    font-size: 0.7rem;
  }
  #physicalkb,
  #checkbox {
    display: none;
  }
  #popup-content {
    width: 100dvw;
  }
  span.alt {
    font-size: 0.5rem;
  }
}

/*
  Theme: myTheme1
*/
.simple-keyboard.myTheme1 {
  background-color: rgba(48, 45, 45, 0.8);
  border-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.simple-keyboard.myTheme1 span.alt {
  color: rgb(0, 247, 255);
}
.simple-keyboard.myTheme1 .hg-button {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.simple-keyboard.myTheme1 .hg-button:active {
  background: #1c4995;
  color: white;
}

#root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
  background: #1c4995;
}

@media screen and (orientation: landscape) and (max-width: 945px) {
  .container {
    display: block;
    gap: 0.5rem;
    padding: 0.5rem;
    max-width: 1000px;
  }
  .simple-keyboard-preview {
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  .hg-theme-default .hg-button,
  .hg-theme-default.myTheme1 .hg-button {
    position: relative;
    font-size: 15px;
    height: 30px;
  }

  .btn,
  .buttons-set,
  .simple-keyboard.myTheme1 .btn,
  .simple-keyboard.myTheme1 .buttons-set {
    height: 25px;
    font-size: 10px;
  }
}
